Hi,
Since I am not well versed in multithreading and multi processing ,I have used brute force here.
The sleep is calculated such that the whole program runs the way it is said in the question.
For checking result check the exec time in the colab notebook.
Thank you.
shift + enter

In [497]:
#simple folder deletion
!rm -r "/content/Processing"
!rm -r "/content/process"
!rm -r "/content/queue"
!rm -r "/content/test.db"

In [498]:
#simple database creation
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''CREATE TABLE IF NOT EXISTS data(files integer );''')
#creating database for use

Opened database successfully

In [499]:
#simple folder creation
path1 = 'Processing'
os.mkdir(path1)

In [500]:
path2 = 'queue'
os.mkdir(path2)

In [501]:
path3 = 'process'
os.mkdir(path3)

In [502]:
import time

In [503]:
#moves between path1 to path2 
def move(path1,path2):
  x = os.listdir(path1)
  for i in x:
    source = path1 + '/' + i
    destination = path2 + '/' + i
    shutil.move(source,destination)

In [504]:
#moves between path2 to path3 add sql values
def move2(path2,path3):
  move(path2,path3)
  x = os.listdir(path3)
  print(len(x))
  for j in range(len(x)):
    if j%2==0:
      conn.execute("INSERT INTO data VALUES(0);")
    elif j%2!= 0:
      conn.execute("INSERT INTO data VALUES(1);")
    conn.commit()

In [505]:
#moves between path2 to path3 
start  = time.perf_counter()
def mkfile(i,path1,path2,path3):
  if i % 5== 0 and i!= 0:
    move(path1,path2)
  if os.listdir(path2)!=[]:
    move2(path2,path3)
  path1 = path1 + '/'
  time.sleep(0.9996570170001178)
  f= open(f"{path1}{i}","w+")
print(finish-start)

-4567.461671507

In [506]:
#please put in the required seconds here
for i in range(21):
  mkfile(i,path1,path2,path3)

5
10
15
20

In [507]:
conn = sqlite3.connect('test.db')
x = conn.execute(''' SELECT * from Data''')
for i in x:
  print(i)

(0,)
(1,)
(0,)
(1,)
(0,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)
(0,)
(1,)